<!DOCTYPE html>
<html>
  <head>
    <title>BookersApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
<!--②application.html.erbはすべてのビューに反映されるHTMLファイルになります。
そのため、全ビュー共通の「ヘッダー・フッター」を記述するのに適しています。
今回は②にヘッダーを記述し、またHTMLファイルのheadタグもここにあるのでフォントを変えるstylesheetを読み込む記述もします。
bookersに共通の部分はないはず-->